<html>
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Arcadia Free Bootstrap Template - Home Page</title>
	<meta name="description" content="Your Description Here">
	<meta name="keywords" content="free boostrap, bootstrap template, freebies, free theme, free website, free portfolio theme, portfolio, personal, cv">
	<meta name="author" content="Jenn, ThemeForces.com">
	</head>
	<body>


			{{{body}}}

	</body>
</html>
