<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Material Login Form</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">


</head>

<body>

<!-- Mixins-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>Le changement</h1><h1> c'est maintenant !</h1><span> <i class='fa fa-code'></i> relooking <a href='http://andytran.me'>Fason</a></span>
</div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">J'AI PEUR</h1>
    <div class="input-container">
      <p class="message">Je connais une personne qui s'habille très mal !</p>
      <p class="message">A chaque fois quand je dois me montrer acoté de cette personne j'ai honte et peur.</p>
      <p class="message">Peur a ce qu'on me prenne pour un SDF.</p>
    </div>
      <div class="input-container">
        <p class="message">Si vous voulez aider votre amis et lui faire découvrire son style, entrez son email.</p>
        <input class="emailof" type="#{type}" id="#{label}" required="required" placeholder="Email"/>

        <div class="bar"></div>
      </div>
  </div>
  <div class="card alt">
    <div class="toggle"></div>
    <h1 class="title">ENVOYER
      <div class="close"></div>
    </h1>
      <div class="input-container">
        <p class="message2">Soyez fieres de vous !</p>
        <p class="message2">Nous allons nous occuper de votre amis pour lui faire découvrire son vrai style.</p>
      </div>
      <div class="input-container">
        <input class="myname" type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Votre prénom</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button class="enbtn"><span>Valider</span></button>
      </div>
  </div>
</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="js/index.js"></script>
  <link href="css/noty.css" rel="stylesheet"></script>
  <script src="js/noty.js" type="text/javascript"></script>

</body>
</html>
