
    <!-- Off Canvas Navigation
    ================================================== -->
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> <!--- Off Canvas Side Menu -->
        <div class="close" data-toggle="offcanvas" data-target=".navmenu">
            <span class="fa fa-close"></span>
        </div>
        <div class="add-margin"></div>
        <ul class="nav navmenu-nav"> <!--- Menu -->
            <li><a href="#home" class="page-scroll">Accueil</a></li>
            <li><a href="#meet-us" class="page-scroll">Info</a></li>
            <li><a href="#services" class="page-scroll">Services</a></li>
            <li><a href="#about-us" class="page-scroll">A propos</a></li>
            <li><a href="#contact" class="page-scroll">S'inscrire</a></li>
        </ul><!--- End Menu -->
    </div> <!--- End Off Canvas Side Menu -->

    <!-- Home Section -->
    <div id="home">
        <div class="container text-center">
            <!-- Navigation -->
            <nav id="menu" data-toggle="offcanvas" data-target=".navmenu">
                <span class="fa fa-bars"></span>
            </nav>

            <div class="content">
                <h4>Vivez à Paris pour de vrai</h4>
                <hr>
                <div class="header-text btn">
                    <h1><span id="head-title"></span></h1>
                </div>
            </div>

            <a href="#meet-us" class="down-btn page-scroll">
                <span class="fa fa-angle-down"></span>
            </a>
        </div>
    </div>

    <!-- Meet Us Section -->
    <div id="meet-us">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Paris</h2>
                        <hr>
                    </div>
                    <p>Les bons plans, les evenements, les soirées, les accident, les bouchons et toutes les information indispensable à connaitre en fonction de votre position sur tout le Paris.</p>
                    <a href="#services" class="down-btn page-scroll">
                        <span class="fa fa-angle-down"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Overview Video Section -->
    <div id="overview-video">
        <div class="overlay">
            <div class="container">
                <a href="#">
                    <span class="fa fa-play"></span>
                </a>
            </div>
        </div>
    </div>

    <!-- Services Section -->
    <div id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Inscrivez-vous</h2>
                        <hr>
                    </div>
                    <p>Tout ce que vous devez faire, c'est de completer le formulaire ci dessous en communiquant votre numéro de mobile. Vous devez également disposer d'une connection 3G.</p>
                </div>
            </div>

            <div class="space"></div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-book fa-3x"></span>
                        <h4>Pratique</h4>
                        <p>Vous recevez les notifications par sms. Vous ne devez donc télécharger des applications ou autre. </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-bicycle fa-3x"></span>
                        <h4>Filtres</h4>
                        <p>Vous pouvez filtrer le type d'informations que vous voulez recevoir ou non en ligne une fois votre inscription abouti. </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-plug fa-3x"></span>
                        <h4>Se désinscrire</h4>
                        <p>Les services sont à 100% gratuits et si vous décidez d'arreter de recevoir les notifications il suffit d'aller sur votre compte et d'appuyer sur arreter. </p>
                    </div>
                </div>
            </div>
            <a href="#works" class="down-btn page-scroll">
                <span class="fa fa-angle-down"></span>
            </a>
        </div>
    </div>

    <!-- Call-to-Action Section -->
    <div id="cta">
        <div class="container text-center">
            <a href="#" class="btn go-to-btn">Contactez-nous</a>
        </div>
    </div>

    <!-- Portfolio Section -->
    <div id="works">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Infos & conseils</h2>
                        <hr>
                    </div>
                    <p>Une fois votre profile crée renseignez un maximum d'informations. Cela nous aidera à mieux savoir ce que vous interesse réelement et ne pas vous déranger avec des notifications qui ne vous interessent pas.</p>
                </div>
            </div>
            <div class="space"></div>
        </div>

        <div class="space"></div>
        <div class="text-center">
            <a href="#" class="btn read-more-btn">VOIR UN EXEMPLE</a>
            <br>
            <a href="#about-us" class="down-btn page-scroll"><span class="fa fa-angle-down"></span></a>
        </div>
    </div>

    <!-- Clients Section -->
    <div id="clients">
        <div class="overlay">
            <div class="container text-center">
                <div class="section-title">
                    <h2>NOS PARTENAIRES</h2>
                    <hr>
                </div>

                <ul class="clients">
                    <li><a href="#"><img src="img/clients/01.png" class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src="img/clients/02.png" class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src="img/clients/03.png" class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src="img/clients/04.png" class="img-responsive" alt="..."></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- About Us Section -->
    <div id="about-us">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>A PROPOS</h2>
                        <hr>
                    </div>
                    <p>PFC est la premiere plateforme de notification en temps réelle par sms. Ce ne sont pas des machines qui spament nos clients mais chaque information est ciblé et envoyé par nos agents si ces dérniers concidere que votre profile correspond et si cela est une infoamtion utile pour vous.</p>
                </div>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="team">
                                <img src="img/team/02.jpg" class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>Lian Gwapa</h4>
                                <p class="small"></p>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team">
                                <img src="img/team/04.jpg" class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>Jenn Pereira</h4>
                                <p class="small"></p>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team">
                                <img src="img/team/03.jpg" class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>Alan Podemski</h4>
                                <p class="small"></p>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="team hire">
                        <h4>We Are Hiring!</h4>
                        <hr>
                        <div class="space"></div>
                        <a href="#">
                            <span class="fa fa-paper-plane-o fa-2x"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="#contact" class="page-scroll down-btn">
                    <span class="fa fa-angle-down"></span>
                </a>
            </div>

        </div>
    </div>

        <!-- Testimonial Section -->


    <!-- Contact Section -->
    <div id="contact">
        <div class="container">
            <div class="section-title text-center">
                <h2>JE ME LANCE</h2>
                <hr>
            </div>
            <div class="space"></div>

            <div class="row">
                <div class="col-md-3">
                    <address>
                        <strong>INSCRIVEZ-VOUS</strong><br>
                        <br>
                        Renseignez les champs suivant<br>
                        Verifiez votre email<br>
                        Validez votre numéro de mobile<br>
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                          </ul>
                    </address>
                </div>

                <div class="col-md-9">
                    <form autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Nom prénom">
                                <input type="text" class="form-control" placeholder="Numéro de mobile">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="#" class="btn send-btn">Envoyer</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav id="footer">
        <div class="container">
             <div class="pull-left">
                <p>2017 © PFC. Tous droits réservés codée par <a href="https://dribbble.com/jennpereira">Jenn</a> & Designée par <a href="https://dribbble.com/alanpodemski">Alan</a></p>
            </div>
            <div class="pull-right">
                <a href="#home" class="page-scroll">Aller en haut <span class="fa fa-angle-up"></span></a>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jasny-bootstrap.min.js"></script>

    <script src="js/owl.carousel.js"></script>
    <script src="js/typed.js"></script>
    <script>
      $(function(){
          $("#head-title").typed({
            strings: ["Tout ce que vous devez savoir^1000", "24/24 h 7/7 ^1000" ,"Gratuitement sur votre mobile par sms^1000"],
            typeSpeed: 100,
            loop: true,
            startDelay: 100
          });
      });
    </script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>
